/* --------------------------------------------------------------
 GENERAL 
-------------------------------------------------------------- */
nav {
	z-index: 998 !important;
}

nav .nav.navbar-nav a.disabled {
	cursor: unset;
}

#logoutContainer {
	position: relative;
}

#logoutContainer.disabled logout-button {
	background-color: var(---background2);
}

#logoutOverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(---transparent);
	z-index: -1;
}

#logoutContainer.disabled #logoutOverlay {
	z-index: 0;
	cursor: no-drop;
}

#logout-button {
	background-color: var(---red_error);
	border-color: var(---red_error);
	border: 2px solid var(---background);
	border-radius: 5px;
}

#logout-button:hover {
	border: 2px solid var(---main);
}

#disableOverlay {
	width: 100%;
	height: 100%;
	filter: opacity(0.7);
	display: none;
	position: fixed;
	z-index: 998;
	background: black;
}

#disableOverlay.active {
	display: block !important;
}

#disableOverlay div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(---background2);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

#disableOverlay div span {
	display: flex;
	width: fit-content;
	height: fit-content;
	background: var(---background);
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
}

.container-fluid {
	padding: 0px;
}

#navMisc {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	gap: 25px;
	font-weight: bold;
	height: 100%;
	place-items: center;
}

#navMisc .buttonModeSelector, 
#navMisc .langSelector {
	cursor: pointer;
}

#responseMessage,
.exerciseTryCatch .exerciseTryCatchText {
	font-family: Consolas;
	color: #000000cf;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

#exerciseUpload {
	font-weight: unset;
}


.iconButton {
	display: none;
}

.textButton {
	display: none;
}

body.iconButtonMode .iconButton {
	display: block !important;
}

body.textButtonMode .textButton {
	display: block !important;
}

#hotkeysActiveContainer i {
	margin-left: 0.25rem;
}

#hotkeysActiveContainer span i {
	color: var(---red_error);
}

#hotkeysActiveContainer span.active i {
	color: var(---green_success);
}

#heartbeatContainer { 
	position: relative;
}

#heart { 
	opacity: 0.3;
	transform: scale(1);
	cursor: pointer;
} 

#heart span { 
	background: var(---heartRed);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 

#heart span.dead { 
	background: var(---main);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

#heart.ping {
    animation: ping 0.15s;
}

#heart.pong {
    animation: pong 0.15s;
}

@keyframes ping{
    from{
        transform: scale(1);
		opacity: 0.3;
    }
    to{
        transform: scale(1.2);
		opacity: 1;
    }
}

#shiny-disconnected-overlay {
	display: none;
}

#logoutContainer {
	margin-right: 20px;
}

/* -------------------------------------------------------------- */
/* SECTIONS  */
/* -------------------------------------------------------------- */
main > * {
	margin: 1rem;
}

.mainSection {
	display: none;
}

.mainSection.active {
	display: block;
}

.contentWrapper {
	display: flex;
}

.contentWrapper > div {
	margin: 1rem;
}

.sidebar {
	background: var(---background);
}

.content {
	background: var(---background);
	padding: 1rem;
	height: fit-content;
}

.sectionHeader {
	display: flex;
}

/* --------------------------------------------------------------
 SETTINGS
-------------------------------------------------------------- */
.settings {
	margin-left: 0;
	margin-right: 2rem;
	max-width: 30vw;
}

.settings > div {
	display: flex;
}

.settings div > * {
	width: fit-content;
}

.settings > div div {
	margin-right: 1rem;
}

/* --------------------------------------------------------------
 SUMMARY
-------------------------------------------------------------- */
.summary {
	margin-left: auto;
	margin-right: 1rem;
	max-width: 70vw;
}

.summary tr > * {
	padding: 5px;
	text-align: center;
}

.summary th {
	border-bottom: 1px solid;
}

.summary th:not(:last-of-type),
.summary td:not(:last-of-type) {
	border-right: 1px solid;
}

.myLabelSingle {
	margin: auto;
	padding: 3px;
	border-radius: 3px;
}

.myLabelContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	place-content: center;
}

.myLabel {
	margin: 5px;
}

.myLabel span {
	padding: 3px;	
}

.myLabel .label_key {
	padding-right: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.myLabel .label_value {
	padding-left: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	font-weight: bold;
}

.grayLabelKey {
	background: var(---gray_passive_fade);
}

.greenLabelKey {
	background: var(---green_success_fade);
}

.yellowLabelKey {
	background: var(---yellow_warning_fade);
}

.redLabelKey {
	background: var(---red_error_fade);
}

.grayLabelValue {
	background: var(---gray_passive);
}

.greenLabelValue {
	background: var(---green_success);
}

.yellowLabelValue {
	background: var(---yellow_warning);
}

.redLabelValue {
	background: var(---red_error);
}

#createExamEvent,
#evaluateExamEvent {
	margin-top: 25px;
}
	
/* --------------------------------------------------------------
 DRAG AND DROP 
-------------------------------------------------------------- */
.dnd {
	position: fixed;
	top: 0;
	left: 0;
	background: var(---transparent);
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.dnd.drag {
	z-index: 998;
}

.dndInfo {
	display: none;
}

.dnd.drag .dndInfo {
	display: grid;
	margin: auto;
	text-align: center;
    justify-content: center;
    align-items: center;
	height: 100%;
	background: var(---background2);
}

.dndInfo, 
.dndInfo * {
	pointer-events: none;
}

.dndInfo .title {
	height: 50%;
    font-size: 62px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.dndInfo .dndIcon {
	height: 50%;
    font-size: 62px;
    font-weight: bold;
    justify-content: center;
    align-items: start;
    text-align: center;
	padding-top: 10px;
}

/* --------------------------------------------------------------
 SIDEBAR
-------------------------------------------------------------- */
.itemList {
	height: auto;
}

.listButton {
	margin: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	background: var(---background);
	border: 2px solid var(---background);
	border-radius: 5px;
}

#downloadExercises {
	height: 26px;
	display: flex;
	place-items: center;
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}

#searchExercises input {
	width: 100%;
}

.listButton:hover {
	border: 2px solid var(---main);
}

.listButtons {
	display: flex;	
	background: var(---background3);
}

.list_butttonIcon {
	height: 26px;
	display: table-cell;
	vertical-align: middle;
}

.sidebarListItem {
	margin: 0.25rem;
	padding: 0.25rem;
	display: flex;
}

.sidebarListItem > span {
	padding: 0.25rem;
}

.sidebarListItem:hover {
	background: var(---background3);
	cursor: pointer;
}

.sidebarListItem.active {
	background: var(---background3);
}

.sidebarListItem.editable {
	border-left: 3px solid var(---highlight_values);
}

.sidebarListItem.filtered {
	display: none;
}

.sidebarListSubItem {
	margin-left: 1.5rem;
}

#searchExercises {
	min-width: 150px;
}

/* --------------------------------------------------------------
 EXERCISES LIST
-------------------------------------------------------------- */
#file-upload_exercises {
    display: none;
}

#exercise_list_items {
	display: block;
}

.exerciseTryCatch {
	position: relative;
	display: flex;
	align-items: first baseline;
}

.exerciseTryCatch .responseSign {
	height: 100%;
	display: flex;
	place-items: center;
}

.exerciseTryCatch.Success {
	color: var(---green_success);
}

.exerciseTryCatch.Warning {
	color: var(---yellow_warning);
}

.exerciseTryCatch.Error {
	color: var(---red_error);
}

.sidebarListItem.exam .examExercise {
	color: var(---green_success);
	font-weight: bold;
}

.exerciseName {
	max-width: 350px;
	overflow-wrap: anywhere;
	height: 100%;
	line-height: 100%;
	display: flex;
	margin: auto;
	margin-left: 0px;
}

.exerciseBlock  {
	margin-right: 0px;
	margin-left: auto;
	width: auto;
}

.exerciseBlock input {
	width: 50px;
	margin-right: 0px;
	margin-left: auto;
	text-align: center;
	font-weight: bold;
}

.exerciseBlock span:first-of-type {
	margin-right: 0.25rem;
	font-weight: bold;
}

.exerciseButtons {
	display: flex;
	margin-right: 0px;
	gap: 5px;
}

.exerciseItem:not(.exam) .exerciseBlock,
.exerciseItem:not(.exam) .exerciseBlock.disabled,
.exerciseButton.disabled { 
	pointer-events: none; 
	filter: opacity(0.2);
}

.exerciseParse,
.examExercise,
.exerciseRemove {
	padding: 0.25rem;
}

.exerciseButton {
	border-radius: 5px;
}

.exerciseItem.active .exerciseButton,
.exerciseItem:hover .exerciseButton {
	background: var(---background);
	border-radius: 5px;
	border: 2px solid var(---background);
}

.exerciseItem:not(.active):not(:hover) .exerciseButton {
	background: var(---background3);
	border-radius: 5px;
	border: 2px solid var(---background3);
}

.exerciseButton:hover {
	border: 2px solid var(---main) !important;
}

.exerciseTryCatch .exerciseTryCatchText {
	visibility: hidden;
	width: max-content;
	position: absolute;
	z-index: 1;
	margin-left: 20px
}

.exerciseTryCatch.Success .exerciseTryCatchText {
	display: none;
}

.exerciseTryCatch.Warning .exerciseTryCatchText {
	background-color: var(---yellow_warning);
}
	
.exerciseTryCatch.Error .exerciseTryCatchText {
	background-color: var(---red_error);
}

.exerciseTryCatch:hover .exerciseTryCatchText {
	visibility: visible;
}

/* --------------------------------------------------------------
 EXERCISES INFO
-------------------------------------------------------------- */
#exercise_info {
	display: grid;
	width: 100%;
}

#exercise_info.hidden {
	display: none !important;
}

#exercise_info label {
	font-weight: bold;
}

#exercise_info > * {
	margin-bottom: 0px;
	margin-left: 1rem;
}

#examHistory span,
#authoredBy span,
#checkedBy span {
	margin: 5px;
	padding: 3px;
	background: var(---gray_passive);
	border-radius: 3px;
}

#precision span,
#difficulty span,
#points span,
#topic span,
#tags span {
	margin: 5px;
	padding: 3px;
	background: var(---yellow_warning_fade);
	border-radius: 3px;
}

#exercise_info .val {
	color: var(---highlight_values);
	font-weight: bold;
}

#question img,
#question table {
	margin: 1rem;
	border: 1px solid black;
}

#result {
	display: block;
}

#addNewAnswer {
	margin: 10px;
	margin-left: 0px;
}

#resultContent .result {
	font-weight: bold;
	width: max-content;
	border-radius: 3px;
	margin-right: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 2px solid var(---transparent);
	border-radius: 3px;
	padding: 2px;
	width: 60px;
	text-align: center;
	background: var(---highlight_values);
}

#resultContent .result.numericResult {
	display: flex;
	align-items: center;
}

#resultContent .choice {
	height: 100%;
	display:flex;
}

#resultContent .choice input {
	margin: 0px;
}


#resultContent > * {
	font-weight: bold;
}

#resultContent > p {
	display: flex;
	align-items: center;
}

#resultContent > span {
	margin-left: 1rem;
}

#resultContent input[type=text] {
	max-width: 150px;
}

#resultContent .choiceText {
	margin-left: 0.25rem;
}

#resultContent .removeAnswer {
	margin-right: 0.5rem;
}

.editTrueFalse {
	cursor: pointer;
}

*[contenteditable="true"]:not(.exerciseName),
.editTrueFalse {
	padding: 2px;
}

*[contenteditable="true"],
.editTrueFalse {
	padding: 2px;
	border: 2px solid var(---highlight_values) !important;
	border-radius: 3px;
	margin-left: 2px;
}

*[contenteditable="true"]:focus {
	padding: 2px;
	border-color: var(---transparent);
	background-color: var(---highlight_values) !important;
}

#exercise_info_buttons {
	display: flex;
	gap: 10px;
}

/* --------------------------------------------------------------
 CREATE EXAMS 
-------------------------------------------------------------- */
#compareScanRegistrationDataTable {
	margin: 1rem;
	overflow-y: auto;
}

#focusedCompareListItem {
	margin-bottom: 0.5rem;
}

#compareScanRegistrationDataTable .compareListItem,
#focusedCompareListItem .compareListItem {
	display: flex;
}

#compareScanRegistrationDataTable .compareListItem {
	margin: 0.25rem;
}

#compareScanRegistrationDataTable .compareListItem {
	border: 2px solid var(---transparent);
}

#compareScanRegistrationDataTable .compareListItem.focus {
	border: 2px solid var(---main);
	background: var(---highlight_values);
}

#compareScanRegistrationDataTable .compareListItem.blur {
	filter: opacity(0.6);
}

#focusedCompareListItem .compareListItem {
	border-bottom: 2px solid var(---main);
}

#compareScanRegistrationDataTable .compareListItem.valid,
#focusedCompareListItem .compareListItem.valid {
	background: var(---green_success);
}

#compareScanRegistrationDataTable .compareListItem.notAssigned,
#focusedCompareListItem .compareListItem.notAssigned {
	background: var(---yellow_warning);
	display: none;
}

#compareScanRegistrationDataTable .compareListItem.lastEdited,
#focusedCompareListItem .compareListItem.lastEdited {
	background: var(---highlight_values);
}

#compareScanRegistrationDataTable .compareListItem.invalid,
#focusedCompareListItem .compareListItem.invalid {
	background: var(---red_error);
}

#compareScanRegistrationDataTable .compareListItem:not(.notAssigned):not(.focus):hover {
	filter: unset;
	background: var(---background3);
	border: 2px solid var(---main);
	cursor: pointer;
}

#compareScanRegistrationDataTable .compareListItem > span,
#focusedCompareListItem .compareListItem > span {
	padding: 0.25rem;
}

#compareScanRegistrationDataTable .compareListItem .evalIndex,
#focusedCompareListItem .compareListItem .evalIndex {
	display: none;
}

#compareScanRegistrationDataTable .compareListItem .evalName,
#compareScanRegistrationDataTable .compareListItem .evalId,
#focusedCompareListItem .compareListItem .evalId,
#focusedCompareListItem .compareListItem .evalName {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 35%;
}

#compareScanRegistrationDataTable .compareListItem.notAssigned .evalInspect,
#focusedCompareListItem .compareListItem .evalInspect {
	display:none;
}

#compareScanRegistrationDataTable .compareListItem .evalInspect,
#focusedCompareListItem .compareListItem .evalInspect {
	margin-right: 0;
	margin-left: auto;
}

#inspectScan {
	display: none;
	margin: 1.25rem;
	border: 2px solid var(---main);
}

#inspectScanContent {
	display: flex;
	width: 100%;
}

#inspectScanImage,
#inspectScanTemplate {
	width: 50%;
}

.magnify{
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  z-index: 1051;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: inset 0 0 20px rgba(0,0,0,.5);
  display: none;
  cursor: none;
}

#inspectScanTemplate span {
	display: block;
}

#inspectScanTemplate > span {
	margin-bottom: 0.5rem;
}

#inspectScan img {
	width: 100%;
	padding: 0.25rem;
}

#scannedRegistration {
	display: flex;
	gap: 10px;
}

#scannedAnswersHeader th {
	text-align: center;
}

#scannedAnswers td {
	padding-left: 0.25rem;
}

#inspectScanButtons {
	display: flex;
	margin: 0.25rem;
	gap: 5px;
	place-content: end;
}

.inspectScanButton {
	border-radius: 5px;
	padding: 0.25rem;
	background: var(---background3);
	border: 2px solid var(---transparent);
}

.inspectScanButton:hover {
	border: 2px solid var(---main);
	background: var(---background2);
	cursor: pointer;
}

#marks {
	width: 300px;
}

#marks tr td:first-of-type {
	width: 100px;
}

#marks tr td:last-of-type {
	width: 200px;
}

#marks td > * {
	width: unset !important;
}

#marks tr > th:last-of-type,
#marks tr > td:last-of-type {
	margin-left: 10px;
	display: block;
}

#figure,
#additionalPdfContainer,
#examScansContainer,
#examSolutionsContainer,
#examRegisteredParticipantsContainer {
	display: flex;
	width: 300px;
}

#file-upload_exerciseFigure,
#file-upload_addAdditionalPdf,
#file-upload_examScans,
#file-upload_examSolutions,
#file-upload_examRegisteredParticipants {
    display: none;
}

.exerciseFigureUpload,
.examFileUpload {
	margin-right: 0.25rem;
	cursor: pointer;
	display: table;
}

#exam .content {
	width: 100%;
}

#exam .contentTab {
	display:none;
}

#exam .contentTab.active {
	display:block;
}

.autofillField,
.infoField {
	font-size: 12px;
	color: #aaa;
}

.autofillField {
	text-decoration: underline;
	cursor: pointer;
	color: var(---green_success);
}

#exerciseFigureFiles img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

#exerciseFigureFiles,
#additionalPdfFiles,
#examScanFiles,
#examSolutionsFile,
#examRegisteredParticipantsFile {
	min-height: 34px;
	background: var(---background3);
}

#exerciseFigure_list_items,
#additionalPdf_list_items,
#examScan_list_items,
#examSolutions_list_items,
#examRegisteredParticipants_list_items {
	min-width: 200px;
	display: block;
	padding: 0.25rem;
}

.exerciseFigureItem,
.additionalPdfItem,
.examScanItem,
.examSolutionsItem,
.examRegisteredParticipantsItem {
	display: flex;
	margin: 0.25rem;
	padding: 0.25rem;
	justify-content: space-between;
	gap: 10px;
}

.exerciseFigureName,
.additionalPdfName,
.examScanName,
.examSolutionsName,
.examRegisteredParticipantsName {
	overflow: hidden;
	white-space: nowrap;
}

.exerciseFigureItem .removeText,
.additionalPdfItem .removeText,
.examScanItem .removeText,
.examSolutionsItem .removeText,
.examRegisteredParticipantsItem .removeText {
	display: block;
}

.exerciseFigureItem:hover,
.additionalPdfItem:hover,
.examScanItem:hover,
.examSolutionsItem:hover,
.examRegisteredParticipantsItem:hover {
	background: var(---red_error);
	cursor: pointer;
}

.exerciseFigureButton,
.examFileButton {
	margin-top: 5px;
	padding: 0.5rem;
	background: var(---highlight_values);
	border-radius: 5px;
	border: 2px solid var(---background);
}

.exerciseFigureButton:hover,
.examFileButton:hover {
	border: 2px solid var(---main);
}

#scanStats {
	display: flex;
}

.checkBoxText {
	display: block;
}

.scanStat {
	display: block;
}

/* --------------------------------------------------------------
 HELP 
-------------------------------------------------------------- */
#help .content {
	width: 100%;
}

#help .contentTab {
	display:none;
}

#help .contentTab.active {
	display:block;
}
