/* --------------------------------------------------------------
 GENERAL 
-------------------------------------------------------------- */
.color-theme {
	---background: rgba(248, 248, 248, 1);
	---background2: rgba(0, 0, 0, 0.2);
	---background3: rgba(238, 238, 238, 1);
	---main: rgba(64, 64, 64, 1);
	---highlight_values: rgba(85, 87, 211, 0.6);
	---highlight_values2: rgba(223, 101, 199, 0.6);
	---transparent: rgba(255, 255, 255, 0);
	---gray_passive: rgba(238, 238, 238, 1);
	---green_success: rgba(67, 168, 145, 1);
	---yellow_warning: rgba(255, 211, 128, 1);
	---red_error: rgba(211, 85, 85, 1);	
	---gray_passive_fade: rgba(238, 238, 238, 0.35);
	---green_success_fade: rgba(67, 168, 145, 0.35);
	---yellow_warning_fade: rgba(255, 211, 128, 0.35);
	---red_error_fade: rgba(211, 85, 85, 0.35);	
	---heartRed: hsl(0,50%,50%);
	---heartRainbow: linear-gradient( 130deg, rgb(255, 0, 0) 30%, rgb(255, 154, 0) 35%, rgb(208, 222, 33) 40%, rgb(79, 220, 74) 45%, rgb(63, 218, 216) 50%, rgb(47, 201, 226) 55%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 65%, rgb(186, 12, 248) 70%, rgb(251, 7, 217) 75%, rgb(255, 0, 0) 100% );
}

html {
	font-family: Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

body {
	height: auto;
	color: var(---main);
	padding-right: 0 !important;
}

.logo {
	height: 50px;
	padding: 5px;
}	

#login-button {
	background-color: var(---green_success);
	border-color: var(---green_success);
	border: 2px solid var(---background);
	border-radius: 5px;
}

#login-button:hover {
	border: 2px solid var(---main);
}

/* --------------------------------------------------------------
 FOOTER 
-------------------------------------------------------------- */
footer {
	display: flex;
	margin: auto;
}

#copyright {
	margin: auto;
	text-align: center;
	color: var(---background2);
}
