/* --------------------------------------------------------------
 GENERAL 
-------------------------------------------------------------- */
.color-theme {
	---background: rgba(248, 248, 248, 1);
	---background2: rgba(0, 0, 0, 0.2);
	---background3: rgba(238, 238, 238, 1);
	---main: rgba(64, 64, 64, 1);
	---highlight_values: rgba(85, 87, 211, 0.6);
	---highlight_enabled: rgba(49, 181, 150, 1);
	---highlight_disabled: rgba(211, 85, 85, 1);
	---highlight_removePdf: rgba(255, 172, 172, 1);
	---transparent: rgba(255, 255, 255, 0);
	---label_yellow: rgba(251, 238, 200, 1);
	---label_gray: rgba(238, 238, 238, 1);
	---label_green: rgba(88, 208, 180, 1);
	---tryCatch_success: rgb(150, 215, 148);
	---tryCatch_warning: rgb(255, 211, 128);
	---tryCatch_error: rgb(255, 128, 128);
	---heart: hsl(0,50%,50%);
}

html {
	font-family: Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

body {
	height: auto;
	color: var(---main);
}

#disableOverlay {
	width: 100%;
	height: 100%;
	filter: opacity(0.7);
	display: none;
	position: fixed;
	z-index: 999;
	background: black;
}

#disableOverlay.active {
	display: block !important;
}

#disableOverlay div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: var(---background2);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}

#disableOverlay div span {
	display: flex;
	width: fit-content;
	height: fit-content;
	background: var(---background);
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
}

.container-fluid {
	padding: 0px;
}

#navMisc {
	margin: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	gap: 25px;
	font-weight: bold;
}

#navMisc .buttonModeSelector, 
#navMisc .langSelector {
	cursor: pointer;
}

#responseMessage,
.taskTryCatch .taskTryCatchText {
	font-family: Consolas;
	color: #000000cf;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

#taskUpload {
	font-weight: unset;
}


.iconButton {
	display: none;
}

.textButton {
	display: none;
}

body.iconButtonMode .iconButton {
	display: block !important;
}

body.textButtonMode .textButton {
	display: block !important;
}

#hotkeysActiveContainer i {
	margin-left: 0.25rem;
}

#hotkeysActiveContainer span i {
	color: var(---highlight_disabled);
}

#hotkeysActiveContainer span.active i {
	color: var(---highlight_enabled);
}

#heartbeatContainer { 
	position: relative;
	margin-right: 20px;
}
#heart { 
	position: absolute;
	top:50%;
	left:50%;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	opacity: 0.3;
	transform: scale(0.8);
} 
#heart:before, #heart:after { 
  position: absolute; 
  content: ""; 
  left: 8px;
  top: 0; 
  width: 8px; 
  height: 12px; 
  background: var(---heart); 
  border-radius: 50px 50px 0 0; 
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -ms-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  transform: rotate(-45deg); 
  -webkit-transform-origin: 0 100%; 
  -moz-transform-origin: 0 100%; 
  -ms-transform-origin: 0 100%; 
  -o-transform-origin: 0 100%; 
  transform-origin: 0 100%; 
} 
#heart:after { 
  left: 0; 
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
  -o-transform: rotate(45deg); 
  transform: rotate(45deg); 
  -webkit-transform-origin: 100% 100%; 
  -moz-transform-origin: 100% 100%; 
  -ms-transform-origin: 100% 100%; 
  -o-transform-origin: 100% 100%; 
  transform-origin :100% 100%; 
} 

#heart.ping {
    animation: ping 0.15s;
}

#heart.pong {
    animation: pong 0.15s;
}

@keyframes ping{
    from{
        transform: scale(0.8);
		opacity: 0.3;
    }
    to{
        transform: scale(1);
		opacity: 1;
    }
}

/* --------------------------------------------------------------
 SECTIONS 
-------------------------------------------------------------- */
main > * {
	margin: 1rem;
}

.mainSection {
	display: none;
}

.mainSection.active {
	display: block;
}

.contentWrapper {
	display: flex;
}

.contentWrapper > div {
	margin: 1rem;
}

.sidebar {
	background: var(---background);
}

.content {
	background: var(---background);
	padding: 1rem;
	height: fit-content;
}

.sectionHeader {
	display: flex;
}

/* --------------------------------------------------------------
 SETTINGS
-------------------------------------------------------------- */
.settings {
	margin-left: 0;
	margin-right: 2rem;
	max-width: 30vw;
}

.settings > div {
	display: flex;
	flex-wrap: wrap;
}

.settings div > * {
	width: fit-content;
}

.settings > div div {
	margin-right: 1rem;
}

.settings input {
	width: 200px;
}

/* --------------------------------------------------------------
 SUMMARY
-------------------------------------------------------------- */
.summary {
	margin-left: auto;
	margin-right: 1rem;
	max-width: 70vw;
}

.summary tr > * {
	padding: 5px;
	text-align: center;
}

.summary th {
	border-bottom: 1px solid;
}

.summary th:not(:last-of-type),
.summary td:not(:last-of-type) {
	border-right: 1px solid;
}

.summary .s_labelSingle{
	margin: auto;
	padding: 3px;
	border-radius: 3px;
}

.summary .s_labelContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	place-content: center;
}

.summary .s_label {
	margin: 5px;
}

.summary .s_label span {
	padding: 3px;	
}

.summary .s_label .s_key {
	padding-right: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	background: #fbeec8;
}

.summary .s_label .s_value {
	padding-left: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background: #f0d68a;
	font-weight: bold;
}

.greenLabel {
	background: var(---label_green);
}

.grayLabel {
	background: var(---label_gray);
}

.yellowLabel {
	background: var(---label_yellow);
}

.redLabel {
	background: var(---label_yellow);
}

#createExamEvent,
#evaluateExamEvent {
	margin-top: 25px;
}
	
/* --------------------------------------------------------------
 DRAG AND DROP 
-------------------------------------------------------------- */
.dnd {
	position: fixed;
	top: 0;
	left: 0;
	background: var(---transparent);
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.dnd.drag {
	z-index: 998;
}

.dndInfo {
	display: none;
}

.dnd.drag .dndInfo {
	display: grid;
	margin: auto;
	text-align: center;
    justify-content: center;
    align-items: center;
	height: 100%;
	background: var(---background2);
}

.dndInfo, 
.dndInfo * {
	pointer-events: none;
}

.dndInfo .title {
	height: 50%;
    font-size: 62px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.dndInfo .dndIcon {
	height: 50%;
    font-size: 62px;
    font-weight: bold;
    justify-content: center;
    align-items: start;
    text-align: center;
	padding-top: 10px;
}

/* --------------------------------------------------------------
 SIDEBAR
-------------------------------------------------------------- */
.itemList {
	height: auto;
}

.listButton {
	margin: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	background: var(---background);
	border: 2px solid var(---background);
	border-radius: 5px;
}

#taskExportAllProxy {
	font-weight: normal !important;
}

#taskDownloadAll {
	display: none;
}

#searchTasks input {
	width: 100%;
}

.listButton:hover {
	border: 2px solid var(---main);
}

.listButtons {
	display: flex;	
	background: var(---background3);
}

.list_butttonIcon {
	height: 26px;
	display: table-cell;
	vertical-align: middle;
}

.sidebarListItem {
	margin: 0.25rem;
	padding: 0.25rem;
	display: flex;
}

.sidebarListItem > span {
	padding: 0.25rem;
}

.sidebarListItem:hover {
	background: var(---background3);
	cursor: pointer;
}

.sidebarListItem.active {
	background: var(---background3);
}

.sidebarListItem.editable {
	border-left: 3px solid var(---highlight_values);
}

.sidebarListItem.filtered {
	display: none;
}

.sidebarListSubItem {
	margin-left: 1.5rem;
}

#searchTasks {
	min-width: 150px;
}

/* --------------------------------------------------------------
 TASKS LIST
-------------------------------------------------------------- */
#file-upload_tasks {
    display: none;
}

#task_list_items {
	display: block;
}

.taskTryCatch {
	display: none;
}

.taskTryCatch.Warning,
.taskTryCatch.Error {
	display: flex;
	align-items: center;
}

.taskTryCatch.Warning {
	color: var(---tryCatch_warning);
}

.taskTryCatch.Error {
	color: var(---tryCatch_error);
}

.sidebarListItem.exam .examTask {
	color: var(---label_green);
	font-weight: bold;
}

.taskName {
	max-width: 350px;
	overflow-wrap: anywhere;
	height: 100%;
	line-height: 100%;
	display: flex;
	margin: auto;
	margin-left: 0px;
}

.taskBlock  {
	margin-right: 0px;
	margin-left: auto;
	width: auto;
}

.taskBlock input {
	width: 50px;
	margin-right: 0px;
	margin-left: auto;
	text-align: center;
	font-weight: bold;
}

.taskBlock span:first-of-type {
	margin-right: 0.25rem;
	font-weight: bold;
}

.taskButtons {
	display: flex;
	margin-right: 0px;
	gap: 5px;
}

.taskItem:not(.exam) .taskBlock.disabled,
.taskButton.disabled { 
	pointer-events: none; 
	filter: opacity(0.2);
}

.taskParse,
.examTask,
.taskRemove {
	padding: 0.25rem;
}

.taskButton {
	border-radius: 5px;
}

.taskItem.active .taskButton,
.taskItem:hover .taskButton {
	background: var(---background);
	border-radius: 5px;
	border: 2px solid var(---background);
}

.taskItem:not(.active):not(:hover) .taskButton {
	background: var(---background3);
	border-radius: 5px;
	border: 2px solid var(---background3);
}

.taskButton:hover {
	border: 2px solid var(---main) !important;
}

.taskTryCatch {
	position: relative;
}

.taskTryCatch .taskTryCatchText {
	visibility: hidden;
	width: max-content;
	position: absolute;
	z-index: 1;
	margin-top: -50px;
	margin-left: 15px
}

.taskTryCatch.Warning .taskTryCatchText {
	background-color: var(---tryCatch_warning);
}
	
.taskTryCatch.Error .taskTryCatchText {
	background-color: var(---tryCatch_error);
}

.taskTryCatch:hover .taskTryCatchText {
	visibility: visible;
}

/* --------------------------------------------------------------
 TASKS INFO
-------------------------------------------------------------- */
#task_info {
	display: grid;
	width: 100%;
}

#task_info.hidden {
	display: none !important;
}

#task_info label {
	font-weight: bold;
}

#task_info > * {
	margin-bottom: 0px;
	margin-left: 1rem;
}

#examHistory span,
#authoredBy span,
#checkedBy span {
	margin: 5px;
	padding: 3px;
	background: var(---label_gray);
	border-radius: 3px;
}

#precision span,
#difficulty span,
#points span,
#topic span,
#tags span,
#type span {
	margin: 5px;
	padding: 3px;
	background: #fbeec8;
	border-radius: 3px;
}

#task_info .val {
	color: var(---highlight_values);
	font-weight: bold;
}

#question img,
#question table {
	margin: 1rem;
	border: 1px solid black;
}

#result {
	display: block;
}

#addNewAnswer {
	margin: 10px;
	margin-left: 0px;
}

#resultContent .result {
	color: var(---highlight_correct);
	font-weight: bold;
	width: max-content;
	border-radius: 3px;
	margin-right: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 2px solid var(---transparent);
	border-radius: 3px;
	padding: 2px;
	width: 60px;
	text-align: center;
}

#resultContent .result.numericResult {
	display: flex;
	align-items: center;
}

#resultContent .choice {
	height: 100%;
	display:flex;
}

#resultContent .choice input {
	margin: 0px;
}


#resultContent > * {
	font-weight: bold;
}

#resultContent > p {
	display: flex;
	align-items: center;
}

#resultContent > span {
	margin-left: 1rem;
}

#resultContent input[type=text] {
	max-width: 150px;
}

#resultContent .choiceText {
	margin-left: 0.25rem;
}

#resultContent .removeAnswer {
	margin-right: 0.5rem;
}

.editTrueFalse {
	cursor: pointer;
}

*[contenteditable="true"]:not(.taskName),
.editTrueFalse {
	padding: 2px;
}

*[contenteditable="true"],
.editTrueFalse {
	padding: 2px;
	border: 2px solid var(---highlight_values) !important;
	border-radius: 3px;
	margin-left: 2px;
}

*[contenteditable="true"]:focus {
	padding: 2px;
	border-color: var(---transparent);
	background-color: var(---highlight_values) !important;
}

#task_info_buttons {
	display: flex;
	gap: 10px;
}

/* --------------------------------------------------------------
 CREATE EXAMS 
-------------------------------------------------------------- */
#compareScanRegistrationDataTable {
	margin: 1rem;
	overflow-y: auto;
}

#compareScanRegistrationDataTable .compareListItem {
	margin: 0.25rem;
	display: flex;
}

#compareScanRegistrationDataTable .compareListItem.matched {
	background: var(---tryCatch_success);
}

#compareScanRegistrationDataTable .compareListItem.noParticipation {
	background: var(---tryCatch_warning);
}

#compareScanRegistrationDataTable .compareListItem.noRegistration {
	background: var(---tryCatch_error);
}

#compareScanRegistrationDataTable .compareListItem:not(.noParticipation):hover {
	background: var(---background3);
	cursor: pointer;
}

#compareScanRegistrationDataTable .compareListItem > span {
	padding: 0.25rem;
}

#compareScanRegistrationDataTable .compareListItem .evalIndex {
	display: none;
}

#compareScanRegistrationDataTable .compareListItem .evalName,
#compareScanRegistrationDataTable .compareListItem .evalId {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	width: 35%;
}

#compareScanRegistrationDataTable .compareListItem.noParticipation .evalInspect {
	display:none;
}

#compareScanRegistrationDataTable .compareListItem .evalInspect {
	margin-right: 0;
	margin-left: auto;
}

#inspectScan {
	display: block;
	width: 100%;
}

#inspectScanContent {
	display: flex;
	width: 100%;
}

#inspectScanImage,
#inspectScanTemplate {
	width: 50%;
}

#inspectScan img {
	width: 100%;
	padding: 0.25rem;
}

#inspectScanButtons {
	display: flex;
	width: 100%;
	margin-right: 0px;
	gap: 5px;
	place-content: end;
}

.inspectScanButton {
	border-radius: 5px;
	padding: 0.25rem;
	background: var(---background3);
	border: 2px solid var(---transparent);
}

.inspectScanButton:hover {
	border: 2px solid var(---main);
	cursor: pointer;
}

#marks {
	width: 300px;
}

#marks tr td:first-of-type {
	width: 100px;
}

#marks tr td:last-of-type {
	width: 200px;
}

#marks td > * {
	width: unset !important;
}

#marks tr > th:last-of-type,
#marks tr > td:last-of-type {
	margin-left: 10px;
	display: block;
}

#additionalPdfContainer,
#examScansContainer,
#examSolutionsContainer,
#examRegisteredParticipantsContainer {
	display: flex;
	width: 300px;
}

#file-upload_addAdditionalPdf,
#file-upload_examScans,
#file-upload_examSolutions,
#file-upload_examRegisteredParticipants {
    display: none;
}

.examFileUpload {
	margin-right: 0.25rem;
	cursor: pointer;
	display: table;
}

#exam .content {
	width: 100%;
}

#exam .contentTab {
	display:none;
}

#exam .contentTab.active {
	display:block;
}

.autofillField,
.infoField {
	font-size: 12px;
	color: #aaa;
}

.autofillField {
	text-decoration: underline;
	cursor: pointer;
}

#additionalPdfFiles,
#examScanFiles,
#examSolutionsFile,
#examRegisteredParticipantsFile {
	width: 262px;
	min-height: 34px;
	background: var(---background3);
}

#additionalPdf_list_items,
#examScan_list_items,
#examSolutions_list_items,
#examRegisteredParticipants_list_items {
	display: block;
	padding: 0.25rem;
}

.additionalPdfItem,
.examScanItem,
.examSolutionsItem,
.examRegisteredParticipantsItem {
	display: flex;
	margin: 0.25rem;
	padding: 0.25rem;
	justify-content: space-between;
}

.additionalPdfName,
.examScanName,
.examSolutionsName,
.examRegisteredParticipantsName {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
}

.additionalPdfItem .removeText,
.examScanItem .removeText,
.examSolutionsItem .removeText,
.examRegisteredParticipantsItem .removeText {
	display: none;
}

.additionalPdfItem:hover,
.examScanItem:hover,
.examSolutionsItem:hover,
.examRegisteredParticipantsItem:hover {
	background: var(---highlight_removePdf);
	cursor: pointer;
}

.additionalPdfItem:hover .removeText,
.examScanItem:hover .removeText,
.examSolutionsItem:hover .removeText,
.examRegisteredParticipantsItem:hover .removeText {
	display: block;
}

.examFileButton {
	margin-top: 5px;
	padding: 0.5rem;
	background: var(---highlight_values);
	border-radius: 5px;
	border: 2px solid var(---background);
}

.examFileButton:hover {
	border: 2px solid var(---main);
}

#responseMessage.Success {
	background: var(---tryCatch_success);
}

#responseMessage.Warning {
	background: var(---tryCatch_warning);
}

#responseMessage.Error {
	background: var(---tryCatch_error);
}

/* --------------------------------------------------------------
 HELP 
-------------------------------------------------------------- */
#help .content {
	width: 100%;
}

#help .contentTab {
	display:none;
}

#help .contentTab.active {
	display:block;
}

/* --------------------------------------------------------------
 FOOTER 
-------------------------------------------------------------- */
.footer-container {
	padding: 1rem;
	background: var(---background);
}