#visParticipantListsContainer ,
#rexEvaluationListsContainer ,
#visGradingListsContainer {
	display: flex;
	width: 300px;
}

#file-upload_visParticipantLists ,
#file-upload_rexEvaluationLists ,
#file-upload_visGradingLists {
    display: none;
}

#visParticipantListFiles ,
#rexEvaluationListFiles ,
#visGradingListFiles {
	min-height: 34px;
	background: var(---background3);
}

#visParticipantListFile_list_items ,
#rexEvaluationListFile_list_items ,
#visGradingListFile_list_items {
	min-width: 200px;
	display: block;
	padding: 0.25rem;
}

.visParticipantListFileItem ,
.rexEvaluationListFileItem ,
.visGradingListFileItem {
	display: flex;
	margin: 0.25rem;
	padding: 0.25rem;
	justify-content: space-between;
	gap: 10px;
}

.visParticipantListFileName ,
.rexEvaluationListFileName ,
.visGradingListFileName {
	overflow: hidden;
	white-space: nowrap;
}

.visParticipantListFileItem .removeText ,
.rexEvaluationListFileItem .removeText ,
.visGradingListFileItem .removeText {
	display: block;
}

.visParticipantListFileItem:hover ,
.rexEvaluationListFileItem:hover ,
.visGradingListFileItem:hover {
	background: var(---red_error);
	cursor: pointer;
}

.uibkToolsFileUpload {
	margin-right: 0.25rem;
	cursor: pointer;
	display: table;
}

.uibkToolsFileButton {
	margin-top: 5px;
	padding: 0.5rem;
	background: var(---yellow_warning);
	border-radius: 5px;
	border: 2px solid var(---transparent);
}

.uibkToolsFileButton:hover {
	border: 2px solid var(---main);
}

#uibkTools a.btn {
	margin-top: 25px;
}
